#outer {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: red;
}

#middle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: blue;
  position: relative;
  top: 25px;
  left: 25px;
}

#inner {
  height: 100px;
  width: 25px;
  border-radius: 50%;
  background: rgb(128, 0, 128);
  position: relative;
  top: 25px;
  left: 25px;
}