#outer {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: red;
}

#middle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: blue;
  position: relative;
  top: 25px;
  left: 25px;
}

#inner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: green;
  position: relative;
  top: 25px;
  left: 25px;
}