/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#outer {
    width: 300px;
    height: 300px;
    background-color: 	#FF0000;
}

#outer1 {
    width: 250px;
    height: 250px;
    background-color: #ffa500;
}

#middle {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 0);
}

#middle2 {
    width: 150px;
    height: 150px;
    background-color: #008000;
}

#inner {
    width: 100px;
    height: 100px;
    background-color: #800080;
}

#inner2 {
    width: 50px;
    height: 50px;
    background-color: #800080;
}

